@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation_anim {
  animation: rotation 20s infinite linear;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header__square-plc {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: auto 0 auto 64px;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s;
}

.header__link:hover {
  opacity: .7;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  width: 183px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_footer {
  height: 35px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

.description {
  padding-top: 100px;
  background-color: white;
}

.two-columns {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.techniques {
  padding-top: 100px;
  margin: 0 auto;
  background-color: white;
}

.cards {
  width: 920px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 43px 0 0;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0;
}

.video {
  background-color: white;
  padding-top: 100px;
  position: relative;
}

.video__iframes {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  margin: 0 20px 0 0;
  display: flex;
}

.video__frame:last-child {
  margin: 0;
}

.oakley {
  padding-top: 160px;
}

.feynman {
  min-height: 890px;
  padding-top: 100px;
  position: relative;
  background-image: url("../images/feynman.png");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s;
}

.feynman__link:hover {
  opacity: .7;
}

.digits {
  padding: 100px 0;
  background-color: white;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.khan {
  padding-top: 105px;
}

.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 68px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 36px;
  padding: 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__buy-link {
  margin: 0 0 0 48px;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s;
}

.khan__buy-link:hover {
  opacity: .7;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top left;
}

.khan__book-container {
  display: flex;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color:#1f1f1f;
  padding: 90px 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url("../images/kaufman-triangle.svg");
  z-index: -1;
}

.resources {
  background-color: white;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background-size: contain;
}

.footer {
  background-color: #1f1f1f;
  padding: 35px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.footer__column-link {
  margin: 20px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s;
}

.footer__column-link:hover {
  opacity: .7;
}

.footer__author {
  color: white;
  margin: 20px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
